@{
    ViewData["Title"] = "Home";
}

<h1>Exercício Semana 5 e 6 - CRUD</h1>
<div class="container">
  <p>Um usuário nos informou que necessita realizar um CRUD de caminhões. Após levantamento, temos a seguinte especificação técnica:</p>
  <p class="font-italic">Precisaremos criar uma aplicação Web em C# do tipo ASP.NET Core Web App (Model-View-Controller) na versão 3.1 e sem autenticação;</p>
  <p>A entidade Caminhão terá os seguintes atributos:</p>
  <ul>
    <li>Identificação: número inteiro;</li>
    <li>Nome: string;</li>
    <li>Descrição: string;</li>
    <li>Data de Criação: Data e hora;</li>
  </ul>
  <p>A tela inicial da aplicação deverá listar todos os caminhões cadastrados;</p>
  <p>Os campos para serem apresentados na listagem de caminhões são:</p>
  <ul>
    <li>Nome</li>
    <li>Descrição</li>
    <li>Data de Criação</li>
  </ul>
  <p>Para cada caminhão da lista deve haver 3 botões:</p>
  <ul>
    <li>Editar -> Deve direcionar o usuário para uma tela para editar os campos do caminhão selecionado;</li>
    <li>Detalhes -> Deve direcionar o usuário para uma tela para uma tela para apresentar os detalhes do caminhão selecionado;</li>
    <li>Excluir -> Deve direcionar o usuário para uma tela para uma tela com confirmação para que o usuário possa definir se realmente quer deletar o caminhão selecionado;</li>
  </ul>
  <p>Ainda na tela inicial deve haver um botão para cadastrar um novo caminhão;</p>
  <p>No menu principal da aplicação é necessário um item chamado Caminhões, onde direciona o usuário para a tela de listagem;</p>
</div>